@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption:wght@400;700&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: "Roboto Slab", serif;
  color: white
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./src/imgs/bg_dots.png");
  min-height: 100vh;
}

header {
  height: 80px;
  background-color: #171a21;
  display: flex;
  padding: 0px 15em 0px 15em;
  justify-content: space-between;
}

header .steam-logo {
  max-width: 150px;
}

header .user-profile {
  display: flex;
  cursor: pointer;
}

header .user-profile .arrow {
  transition: 1s easy all;
}

header .user-profile .visible-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  position: static;
}

header .user-profile .visible-part .text-header-box p {
  color: #c1bfbc;
  font-size: 12px;
  display: flex;
  justify-content: flex-end;
}

header .user-profile .visible-part img {
  max-width: 55px;
  border: #c1bfbc 1px solid;
}

header .user-profile .dropdown-menu {
  display: flex;
  opacity: 0;
  font-size: 14px;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  background-color: #1b2838;
  width: fit-content;
  height: 0px;
  top: 55px;
  position: absolute;
  transition: all 0.3s ease;

}

header .user-profile .dropdown-menu.open {
  opacity: 1;
  height: 80px;
}

header .user-profile .dropdown-menu a {
  color: #c1bfbc;
  padding: 5px;
  width: fit-content;
  text-decoration: none;
}

header .user-profile .dropdown-menu a:hover {
  color: #e9e6e3;
  padding: 5px;
  text-decoration: none;
}

.information-section {
  background: linear-gradient(#38122daa, #2d0f25cc, #1b2822cc);
  margin: 0px 15em 0px 15em;
  height: 100vh;
  padding: 5%;
}

.section-title {
  margin-bottom: 25px;
  border-bottom: solid 1px #727272;
}

.my-profile {
  display: flex;
}

.my-profile .img-board {
  position: relative;
  width: fit-content;
}

.my-profile .img-board img {
  display: block;
  width: 184px;
}

.my-profile .img-board i {
  position: absolute;
  bottom: 5px;
  right: 10px;
  cursor: pointer;
}

.my-profile .my-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 1em;
  gap: 30px;
}

.my-profile .my-data .level-board {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
}

.my-profile .my-data .level-board .xp-box-level {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #c1bfbc 2px solid;
  padding: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-size: 26px;
}

.my-profile .my-data .my-insignia {
  display: flex;
  background: linear-gradient(#000000aa, #00000069);
  padding: 10px;
  flex-direction: row;
  font-size: 12px;
  align-items: center;
  gap: 1em;
}

.my-profile .my-data .my-insignia img {
  width: 54px;
  height: 54px;
}

@media (max-width: 992px) {
  header {
    padding: 0px 3em 0px 3em;
  }

  .visible-part h3 {
    font-size: 16px;
  }

  .information-section {
    margin: 0px 3em 0px 3em;
    padding: 25px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 0px 0.5em 0px 0.5em;
  }

  header .steam-logo {
    max-width: 100px;
  }

  .visible-part img {
    max-width: 35px;
    border: #c1bfbc 2px solid;
  }

  .visible-part h3 {
    font-size: 14px;
  }

  .information-section {
    margin: 0px 0.5em 0px 0.5em;
    padding: 25px;
  }

}